In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name" : ["Santosh", "Raju"],
    "Cgpa" : [8.4, 6.5]
})

In [3]:
df

      Name  Cgpa
0  Santosh   8.4
1     Raju   6.5

In [4]:
print(df)

      Name  Cgpa
0  Santosh   8.4
1     Raju   6.5

<h1>Series</h1>

In [5]:
s = pd.Series([23, 21, 43, 55])
print(s)

0    23
1    21
2    43
3    55
dtype: int64

In [6]:
print(type(s))

<class 'pandas.Series'>

In [7]:
print(s[0])
print(s[1])

23
21

In [8]:
print(s.index)

RangeIndex(start=0, stop=4, step=1)

In [11]:
s2 = pd.Series([23, 24, 55, 64], index = ["Santosh", "Raju", "Nitish", "Chhotu"])
print(s2["Santosh"])
print(s2["Nitish"])
print(s2)

23
55
Santosh    23
Raju       24
Nitish     55
Chhotu     64
dtype: int64

In [10]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])

print(s1 + s2)

0    5
1    7
2    9
dtype: int64