In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name" : ["Santosh", "Raju"],
    "Cgpa" : [8.4, 6.5]
})

In [3]:
df

      Name  Cgpa
0  Santosh   8.4
1     Raju   6.5

In [4]:
print(df)

      Name  Cgpa
0  Santosh   8.4
1     Raju   6.5

<h1>Series</h1>

In [5]:
s = pd.Series([23, 21, 43, 55])
print(s)

0    23
1    21
2    43
3    55
dtype: int64

In [6]:
print(type(s))

<class 'pandas.Series'>

In [7]:
print(s[0])
print(s[1])

23
21

In [8]:
print(s.index)

RangeIndex(start=0, stop=4, step=1)

In [9]:
s2 = pd.Series([23, 24, 55, 64], index = ["Santosh", "Raju", "Nitish", "Chhotu"])
print(s2["Santosh"])
print(s2["Nitish"])
print(s2)

23
55
Santosh    23
Raju       24
Nitish     55
Chhotu     64
dtype: int64

In [10]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])

print(s1 + s2)

0    5
1    7
2    9
dtype: int64

In [14]:
# Mutable Values but immutable size

s = pd.Series([1,2,3,4,5])
s[0] = 100
print(s)

changed_s = s.drop(2)
print(s)

0    100
1      2
2      3
3      4
4      5
dtype: int64
0    100
1      2
2      3
3      4
4      5
dtype: int64

In [16]:
# Creating DataFrame in pandas
info = {
	"Name" : ["santosh", "Raju", "Nitish"],
	"Marks" : [44, 55, 66],
	"Grade" : ['B', 'O', 'A']
}

df = pd.DataFrame(info)
df

      Name  Marks Grade
0  santosh     44     B
1     Raju     55     O
2   Nitish     66     A

In [24]:
# Row labels and Columns label
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['col1', 'col2', 'col3'], dtype='str')

In [25]:

np_arr = np.array([[1,2,3], [4,5,6], [7,8,9]])
df = pd.DataFrame(np_arr, columns=['col1', 'col2', 'col3'])
df

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [30]:
# Creating Datfrom using Lists
l = [["Santosh", 96, 6.77], ["Raju", 77, 98.66], ["Nitish", 87, 98.00]]
df = pd.DataFrame(l, columns=['Name', 'Roll_No', 'Percentage'])
df

      Name  Roll_No  Percentage
0  Santosh       96        6.77
1     Raju       77       98.66
2   Nitish       87       98.00